{% extends "base.html" %}

{% block content %}
    <table>
        <tr>
            <th>№</th>
            <th>German</th>
            <th>English</th>
            <th>Groups</th>
            <th>Relevance</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url "word_detail" object.pk %}">{{ object.article }} {{ object.german }}</a></td>
                <td>{{ object.english }}</td>
                <td>
                    {% for group in object.groups.all %}
                    <a href="{% url "group_detail" group.pk %}">{{ group.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ object.relevance }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if is_paginated %}
        <br>
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">«</a>
                {% endif %}
                <span class="page-current">
                    {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">»</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <br>
    <button id="new-word">Add a new word</button>
    <button id="new-group">Add a new group</button>
    <button id="groups" style="background:blue">View all groups</button>
    <button id="practice" style="background:red">Practice</button>
{% endblock %}

{% block domready %}
    $("#new-word").click(function(){
        window.location.href = "{% url "add_word" %}";
    });
    $("#new-group").click(function(){
        window.location.href = "{% url "add_group" %}";
    });
    $("#groups").click(function(){
        window.location.href = "{% url "group_list" %}";
    });
    $("#practice").click(function(){
        window.location.href = "{% url "general_practice_menu" %}";
    });
{% endblock %}